@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-cream: #f2e3da;
  --color-dark-blue: #132c3f;
  --color-red: #99182a;
  --color-light-blue: #3883bd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: var(--color-cream);
  --color-dark-blue: var(--color-dark-blue);
  --color-red: var(--color-red);
  --color-light-blue: var(--color-light-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: "Playfair Display", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --animate-pop-up: pop-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes pop-up {
  0% { opacity: 0; transform: translateY(20px) scale(0.95); }
  100% { opacity: 1; transform: translateY(0) scale(1); }
}
